/* MEDIA QUERIES FOR HEADER  */

/* media queries for my laptop screen  */
@media screen and (max-width:1920px) and (min-width:769px) {
    body{
        margin: 0;
        font-family: var(--font-poppins);
        padding: var(--padding-allcorner);
        overflow-x: hidden;
        box-sizing: border-box;
    }

    #burgerbar{
        display: none;
    }
    /* left side  */
    .leftsideoflanding{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        flex-direction: column;
    }
    /* right side  */
#desktopimg{
    width: 500px;
}
    #blankbutton{
        position: absolute;
        top: 350px;
        left: 640px;
        z-index: -4;
    }
    /* header end  */

}